[submodule "fosdem2018/qrcodejs"]
	path = fosdem2018/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "cephday-germany-feb2018/qrcodejs"]
	path = cephday-germany-feb2018/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "clt-2018/qrcodejs"]
	path = clt-2018/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "cephday-london-2018/qrcodejs"]
	path = cephday-london-2018/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
[submodule "teqnation-2018/qrcodejs"]
	path = teqnation-2018/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
